
<div class="container mt-5">
  <h2>Received Requests</h2>
  <div *ngIf="requests.length === 0" class="alert alert-info" role="alert">
    You have no received requests.
  </div>
  <ul class="list-group">
    <li *ngFor="let request of requests" class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>{{ request.requester.firstName }} {{ request.requester.lastName }}</strong> wants to learn <strong>{{ request.skill.name }}</strong>.
      </div>
      <div>
          <button class="btn btn-outline-success" (click)="acceptRequest(request)" [disabled]="request.status !== 'PENDING'">Accept</button>

        <button class="btn btn-outline-danger" (click)="rejectRequest(request)" [disabled]="request.status !== 'PENDING'">Reject</button>
      </div>

    </li>
  </ul>
  <h2>Sent Requests Status</h2>
    <div *ngFor="let request of sentRequests">
      <li *ngIf="request.status == 'ACCEPTED'">
        <strong>{{ request.receiver.firstName }} {{ request.receiver.lastName }}</strong> has accepted your request to learn <strong>{{ request.skill.name }}</strong>.
      </li>
      <li *ngIf="request.status == 'REJECTED'">
        <strong>{{ request.receiver.firstName }} {{ request.receiver.lastName }}</strong> has rejected your request to learn <strong>{{ request.skill.name }}</strong>.
      </li>
    </div>
</div>
