
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Pay with PayPal</h2>
          <div *ngIf="request">
            <p>You are about to pay for the skill "{{ request.skill.name }}" from {{ request.requester.firstName }} {{ request.requester.lastName }}.</p>
            <div id="paypal-button-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
